.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.item {
  width: 98% !important ;
}
.item img {
  width: 100% !important;
}
.slick-next{
  right: -67px !important;
}
.slick-prev {
  left: -75px !important;
}

.slick-prev:before {
  content: '<';
  padding: 10px;
  color: rgb(122, 115, 115) !important;
}

.slick-next:before {
  content: '>';
  padding: 10px;
  color: rgb(122, 115, 115) !important;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}