.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.item {
  width: 98% !important;
}

.item img {
  width: 100% !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* arrow */
.leftArrow,
.rightArrow {
  display: inline-block;
  width: 60px;
  height: 60px;
  border: 1px solid rgb(214, 218, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.leftArrow i,
.rightArrow i {
  color: #641616;
}

.leftArrow:hover,
.rightArrow:hover {
  box-shadow: 1px 1px 4px gray;
  transition: ease-in 0.3s;
}

/* left arrow */
.leftArrow {
  position: absolute;
  left: -100px;
  top: 170px;
}

/* right arrrow */
.rightArrow input {
  position: absolute;
  right: -100px;
  top: 170px;
  border-bottom: 1px solid grey;
}

/* _________________________________________contect form __________________________________________________________________*/
.form-input input {
  border: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.form-input {
  /* border-bottom: 1px solid rgb(109, 107, 107); */
  margin: 20px 0px;
}

.form-error{
  color: red;
  text-align: right;
}

.form-container {
  display: flex;
  flex-direction: row;
  /* max-width: 60%; */
  /* min-height: 50%; */
  max-width: 1000px;
  min-height: 800px;
  margin: 100px auto 0px auto;
  border-radius: 10px;
}

.form-container .contectForm {
  width: 50%;
  padding: 50px 45px;
  /* border: 1px solid black; */
  background: radial-gradient(circle, rgb(183 170 176 / 20%) 0%, rgb(193 207 224) 100%);
  border-radius: 10px 0px 0px 10px;
  max-height: 650px;
}

.form-container .contectInfo {
  width: 50%;
  max-height: 650px;
  padding: 60px 45px;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(137deg, rgba(143, 138, 138, 1) 0.5%, rgba(210, 203, 203, 1) 12%, rgba(170, 162, 162, 1) 32%,
      rgba(154, 148, 148, 1) 48%, rgba(84, 77, 77, 1) 72%, rgba(218, 214, 210, 1) 100%);

}

.contectInfo .title {
  margin-bottom: 35px;
}

.contectInfo .item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 20px;
}

.contectType .circleBox {
  width: 45px;
  height: 45px;
  /* border: 1px solid green; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: rgb(238, 235, 235);
}

.contectInfo .item i {
  padding: 10px;
  font-size: 25px;
cursor: pointer;
}

.contectForm .form-control {
  box-shadow: none;
  border-bottom: 2px solid rgb(87, 83, 84);

}

.form-btn input {
  outline: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background: radial-gradient(circle, rgba(148, 167, 223, 1) 62%, rgb(132, 158, 237) 100%);
}

.form-btn input:hover {
  transition: ease-in-out 0.5s;
  background: radial-gradient(circle, rgb(103, 135, 233) 62%, rgb(132, 158, 237) 100%);
}

.form-container p {
  font-size: 17px;
}